@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 90; /* dark blue */
  --background-end-rgb: 0, 0, 0; /* black */
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
  linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  font-size: 4em; /* default icon size */
}

@container icon-container (max-width: 600px) {
  .icon {
    font-size: 3em; /* smaller icon size for mobile */
  }
}
